name: Build ZPM for Android

on:
  push:
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      # rustup already exists on GitHub runners
      - name: Add Android Rust target
        run: |
          rustup target add aarch64-linux-android

      - name: Install Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r29

      - name: Configure Android toolchain
        run: |
          echo "ANDROID_NDK_HOME=$ANDROID_NDK" >> $GITHUB_ENV
          echo "CC_aarch64_linux_android=$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang" >> $GITHUB_ENV
          echo "CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang" >> $GITHUB_ENV

      - name: Build ZPM
        run: |
          cargo build --release --target aarch64-linux-android

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: zpm-android-aarch64
          path: target/aarch64-linux-android/release/zpm
