name: Benchmark Endpoints (macOS)

on:
  workflow_dispatch: # Manual trigger

jobs:
  benchmark:
    runs-on: macos-latest # The key to avoiding some IP blocklists
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install k6
        run: brew install k6

      - name: Run Benchmark
        run: |
          k6 run image-benchmark.js > results.txt
          cat results.txt

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark-results
          path: results.txt
          
