name: Build ZPM Android

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Clone ZPM
        run: |
          git clone https://github.com/yarnpkg/zpm.git
          cd zpm
          ls

      - name: Build ZPM
        run: |
          cd zpm
          rustup target add aarch64-linux-android
          cargo build --target aarch64-linux-android --release

      - name: Upload binary
        uses: actions/upload-artifact@v5
        with:
          name: zpm-android-arm64
          path: zpm/target/
