name: Build ZPM Android

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install git
        run: sudo apt-get update && sudo apt-get upgrade

      - name: Clone ZPM
        run: |
          git clone https://github.com/yarnpkg/zpm.git
          cd zpm
          ls

      # rustup already exists on runner
      - name: Add Android target
        run: |
          rustup target add aarch64-linux-android

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r29

      - name: Build ZPM
        run: |
          cd zpm
          export CC_aarch64_linux_android=$ANDROID_NDK/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang
          export CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$CC_aarch64_linux_android
          cargo build --release --target aarch64-linux-android

      - name: Upload binary
        uses: actions/upload-artifact@v5
        with:
          name: zpm-android-arm64
          path: zpm/target/aarch64-linux-android/release/zpm
