name: Build ZPM Android

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Clone ZPM
        run: |
          git clone https://github.com/yarnpkg/zpm.git
          cd zpm
          ls

      # rustup already exists on runner
      - name: Add Android target
        run: |
          rustup target add aarch64-linux-android

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r29

      - name: Build ZPM
        run: |
          cd zpm
          cargo build --release
          rustup target add aarch64-linux-android
          cargo build --release

      - name: Upload binary
        uses: actions/upload-artifact@v5
        with:
          name: zpm-android-arm64
          path: zpm/target/aarch64-linux-android/release/zpm
